<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="../static/scripts/1-hbnb.js?{{cache_id}}"></script>
        <!-- rest of your head content -->
    </head>
    <body>
        <!-- rest of your body content -->
        <div class="amenities">
            <h2>Amenities</h2>
            <ul>
                <li><input type="checkbox" data-id=":amenity_id" data-name=":amenity_name"> :amenity_name</li>
                <!-- repeat for each amenity -->
            </ul>
        </div>
        <div class="selected">
            <h4></h4>
        </div>
    </body>
</html>